@import "tailwindcss";

@theme {
    --color-lpink-100: #ffdddd;
    --color-lpink-300: #ffc7c7;
    --color-lpink-500: #de9892;
    --color-lpink-700: #86282e;
}

@layer base {
    html,
    body,
    main {
        @apply h-full w-full;
    }

    input,
    textarea {
        @apply bg-lpink-100 border-2 border-lpink-700;
    }

    svg {
        @apply size-4 md:size-6;
    }
}

@layer components {
    .btn {
        @apply shadow-lg border-2 border-lpink-700 rounded-md bg-lpink-300 active:bg-lpink-100 font-semibold p-2;
    }
}
