@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
    themes: corporate --default;
}

@theme {
    --font-sans: "Inter", sans-serif;
    --color-lprimary-500: var(--color-pink-500);
    --color-lprimary-600: var(--color-pink-600);
    --color-lprimary-700: var(--color-pink-700);
    --color-lprimary-800: var(--color-pink-800);
}

@layer base {
    html,
    body,
    #root,
    main {
        @apply h-full w-full;
    }
    main {
        @apply bg-pink-50 overflow-auto;
    }

    #root {
        @apply flex flex-col;
    }
}

@utility btn-lprimary {
    @apply btn-primary bg-lprimary-600 border-lprimary-600 hover:bg-lprimary-700 hover:border-lprimary-700;
}
